@font-face {
    font-family: 'MetaSerifWeb-Book';
    src: url('/assets/fonts/metaserifot/MetaSerifWeb-Book.eot');
    src: url('/assets/fonts/metaserifot/MetaSerifWeb-Book.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/metaserifot/MetaSerifWeb-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MetaSerifWeb-BookItalic';
    src: url('/assets/fonts/metaserifot/MetaSerifWeb-BookItalic.eot');
    src: url('/assets/fonts/metaserifot/MetaSerifWeb-BookItalic.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/metaserifot/MetaSerifWeb-BookItalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'MetaSerifWeb-Bold';
    src: url('/assets/fonts/metaserifot/MetaSerifWeb-Bold.eot');
    src: url('/assets/fonts/metaserifot/MetaSerifWeb-Bold.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/metaserifot/MetaSerifWeb-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MetaSerifWeb-BoldItalic';
    src: url('/assets/fonts/metaserifot/MetaSerifWeb-BoldItalic.eot');
    src: url('/assets/fonts/metaserifot/MetaSerifWeb-BoldItalic.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/metaserifot/MetaSerifWeb-BoldItalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MetaSerifScWeb-Book';
    src: url('/assets/fonts/metaserifot/MetaSerifScWeb-Book.eot');
    src: url('/assets/fonts/metaserifot/MetaSerifScWeb-Book.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/metaserifot/MetaSerifScWeb-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MetaSerifScWeb-BookItalic';
    src: url('/assets/fonts/metaserifot/MetaSerifScWeb-BookItalic.eot');
    src: url('/assets/fonts/metaserifot/MetaSerifScWeb-BookItalic.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/metaserifot/MetaSerifScWeb-BookItalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'MetaSerifScWeb-Bold';
    src: url('/assets/fonts/metaserifot/MetaSerifScWeb-Bold.eot');
    src: url('/assets/fonts/metaserifot/MetaSerifScWeb-Bold.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/metaserifot/MetaSerifScWeb-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MetaSerifScWeb-BoldItalic';
    src: url('/assets/fonts/metaserifot/MetaSerifScWeb-BoldItalic.eot');
    src: url('/assets/fonts/metaserifot/MetaSerifScWeb-BoldItalic.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/metaserifot/MetaSerifScWeb-BoldItalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



