@import "_vars.scss";

/*==============================
Styles for pages 
==============================*/

.page {
	@include clearfix;

	main{
		.wrapper {
			min-width: $minwidth;
			max-width: $maxwidth;
		}	
	}
}

[id=rss] {
	width: 60%;
}